nav {
    background-color: black;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 45px;
    padding-bottom: 45px;
}

nav a {
    text-decoration: none;
}

.logo {
    float: left;
}

.logo img {
    width: 200px;
    transform: rotate(-20deg);
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    margin: 0 5px;
}